[submodule "thirdparty/mkdocs-enumerate-headings-plugin"]
	path = thirdparty/mkdocs-enumerate-headings-plugin
	url = https://github.com/TimChaubet-I4U/mkdocs-enumerate-headings-plugin.git
[submodule "external/python"]
	path = external/python
	url = https://github.com/DISCOVER-Robotics/sdk.git
[submodule "external/cpp"]
	path = external/cpp
	url = https://github.com/DISCOVER-Robotics/arm-control.git
